.tm-intro-text-container {
    text-align: center;
}

.node-add-and-remove {
    display: flex;
    justify-content: center;
    text-align: left;
    align-items: stretch;
    flex-wrap: wrap;
}

.move-right {
    justify-content: flex-end;
}


.remove-node {
    flex-basis: 28%;
    padding: 1%;
}


.node-oversikt {
    flex-basis: 28%;
    padding: 1%;
}


#map {
    border: 2px solid #3377AA;
}

.bord {
    border: 2px solid #3377AA;
    margin: 2%;
    padding: 2%;
}

.btn {
    border-color: lightgray;
}

::placeholder {
    color: gray;
}

.logo {
    margin: auto;
    width: 25%;
    height: auto;
}

#node-id{
    font-size: 125%;
}