.tm-intro-text-container {
    text-align: center;
}

.node-add-and-remove {
    display: flex;
    justify-content: space-around;
    text-align: left;
    align-items: stretch;
}


.remove-node {
    flex-basis: 40%;
    padding: 1%;
}


.node-oversikt {
    flex-basis: 40%;
    padding: 1%;
}

.input-box {
    align-self: right;
}

#map {
    border: 2px solid #3377AA;
}

.bord {
    border: 2px solid #3377AA;
    margin: 2%;
    padding: 2%;
}

.btn {
    border-color: lightgray;
}

::placeholder {
    color: gray;
}